body {
    background-color: #0D0D0D;
}


#SearchItem {
    padding-top: 150px;
}

.searchST {
    background-color: #0D0D0D;
    z-index: 999;
    padding-top: 50px;
}

.st {

    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

img {
    object-fit: cover;
    width: 100%;
}

.safe {
    overflow: hidden;
    cursor: pointer;
}

.layer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: -100%;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.7);
}

input::placeholder {
    text-align: center;
}

.st:hover .layer {
    top: 0;
    bottom: 0;
}

.RliStyle {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.tliStyle {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.nav-header {
    background-color: #fff;
    width: 60px;
}

nav {
    z-index: 99999999;
    top: 0;
    bottom: 0;
    left: -228.028px;
}

.nav-menu {
    height: 100vh;
    background-color: black;
    display: none;
    width: 60%;
    left: 0;
    transform: translateX(-100);

}

.nav-menu-links li {
    color: rgb(249, 246, 246);
    font-weight: 300;
    cursor: pointer;
    padding: 14px 30px;
}

.nav-menu-foot {
    padding: 0px 20px 50px 20px;
}

.nav-menu-links ul {
    overflow: hidden;
    height: 300px;
}

.nav-menu-links li {
    padding-top: 500px;
    opacity: 0;
}

.nav-header-mark i {
    cursor: pointer;
}

input {
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .1);
    margin-bottom: 0;
}

.form-control:focus {
    background-color: transparent;
    color: white;
    box-shadow: 0 .5rem 1rem transparent;
}

.fa-check {
    color: rgb(5, 10, 7);
}

input {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 0;
    right: 40px;
    color: #28a745;
    display: none;
}

.form-control {
    border: none;
    border-bottom: 2px solid #0fd;
}